.App{
  font-family: 'Roboto', sans-serif;
}
.App-logo {
  height: 40vmin;
}
.App-header {
  background: rgb(52,188,228);
  background: linear-gradient(0deg, rgba(52,188,228,1) 0%, rgba(255,255,255,1) 100%);
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  padding-top: 50vh;
}
.deepHeading{
  font-weight: bold;
  background-color: white;
  padding: 5px 10px 5px 20px;
  display: inline-block !important; 
}
.deepDesc{
  padding: 10px 20px;
  font-size: 22px;
}

.App-link {
  color: #09d3ac;
}
/* 
navbar */
